/*For whole page*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, figure, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    /*display:block;*/
    -webkit-locale: zh;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body{
    background-color: rgba(242,242,242,1);
    color: rgba(0,0,0,1);
    font-family: Helvetica,Arial,sans-serif;
    font-size: 62.5%;
    margin: 0 auto;
    -webkit-font-smoothing: subpixel-antialiased;
}
div.content-wrapper{    
    background-color: rgba(242,242,242,1);
    margin: 0 auto;
    width: 980px;
}

/*For header*/
header#page_header{
    background-color: rgba(65,65,65,1);
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
    color: rgba(255,255,255,1);
    height: 25px;
    letter-spacing: .05em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
header p.header-text{
    font-size: 1.1em;
    margin: 0 auto;
    padding-top: 6px;
    vertical-align: middle;
    float: left;
}
header p.header-icon{
    float: right;
    padding-top: 4px;
    font-size: 1.1em;
    vertical-align: middle;
    margin: 0 auto;
}
header img#vs_logo{
     height:14px;
     width:12px ;
     padding-right: 8px;
     vertical-align: -2px;
     display:inline;
}
header a{
    color: rgba(255,255,255,1);
    text-decoration: none;
}
/*For section*/

.section-content h3{
	margin: 10px 0px;
}

.section-content ul,li{
	margin:10px 20px
}
ul.section-members, li.section-member{
	margin:0px
}

section#valence {
    background-color: rgba(242,242,242,1);
    display: block;
    height: 60px;
    padding-top: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
section p#hierarchial_navigation {
    float: left;
    font-size: 1.4em;
    margin-top: 29px;
    vertical-align: middle;
}
/*For Navigator*/
nav#navigator{
    background-color: rgba(249,249,249,1);
    border-top: 1px solid rgba(233,233,233,1);
    border-left: 1px solid rgba(233,233,233,1);
    border-right: 1px solid rgba(233,233,233,1);
    bottom: 0;
    box-shadow: 0 0 1px rgba(0,0,0,.07);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 70px;
    width: 230px;
    overflow-x:hidden;
}
nav ul.nav-namespace{
    color: rgba(128,128,128,1);
    font-weight: 100;
    line-height: 140%;
    list-style-type: none;
    margin: 0;
    -webkit-padding-start: 0;
}
nav li.namespace-name{
    border-bottom: 1px solid rgba(233,233,233,1);
    font-family: Helvetica;
    font-size: 1.6em;
    line-height: 110%;
    list-style-type: none;
    margin: 0;
    padding: 15px 30px 15px 20px;
    cursor: pointer;
}
nav li.namespace-active{
    background-color: rgba(255,255,255,1);
    color: rgba(0,0,0,1);
    cursor: default;
}
nav ul.nav-classes{
    position: relative;
    top: 15px;
    font-weight: 400;
    line-height: 110%;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*height: 0;*/
    overflow: hidden;
    -webkit-transition: height 1.3s ease-in-out;
    -moz-transition: height 1.3s ease-in-out;
    -o-transition: height 1.3s ease-in-out;
    -ms-transition: height 1.3s ease-in-out;
    transition: height 1.3s ease-in-out;
    display:none;
}
nav li.class-name{
    font-size: .8em;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0 0 8px;
}
nav a{
    color: rgba(128,128,128,1);
    text-decoration: none;
}
nav li.class-name a{
    color: rgba(128,128,128,1);
    display: block;
    margin-left: 15px;
    text-decoration: none;
}
nav li.class-name a.class-active{
    color: rgba(0,0,0,1);
    font-weight: 700;
    text-decoration: none;
}
nav li.ns-open{
    background-color:white;
}
nav li.ns-open ul.nav-classes{
    display:block;
}
nav li.ns-open a.namespace-link{
    color:black;
}
nav li.ns-open li.c-open a.class-link{
    color:black;
}
/*For article*/
article.article-content{
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(233,233,233,1);
    border-top: 0;
    box-shadow: 0 0 1px rgba(0,0,0,.07);
    display: block;
    margin-left: 246px;
    min-height: calc(100% - 173px);
    min-height: -moz-calc(100% - 173px);
    min-height: -webkit-calc(100% - 173px);
    min-height: -o-calc(100% - 173px);
    position: absolute;
    overflow: auto;
    padding-bottom: 100px;
    top: 70px;
    -webkit-overflow-scrolling: touch;
    width: 734px;
}
article h1.article-name{
    color: rgba(0,0,0,1);
    display: block;
    font-family: Helvetica;
    font-size: 2.5em;
    font-weight: 100;
    margin-bottom: 0;
    padding: 15px 25px;
    width: 63%;
    margin-top: 21px;
}

article h3.article-name{
    color: rgba(128,128,128,1);
    display: block;
    font-family: Helvetica;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 0;
    padding: 15px 0px;
    width: 63%;
    margin-top: 21px;
}

a.article-name{
    font-family: Helvetica;
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 0;
    padding: 3px 0px;
}

article section{    
    padding: 1px 25px 0;
    -webkit-transition: -webkit-transform .3s ease;
    -moz-transition: -moz-transform .3s ease;
    -o-transition: -o-transform .3s ease;
    transition: transform .3s ease;
}

.section-content{
	font-size: 14px;
	padding: 5px 0px;
}

#article-title .section-content{
	font-size: 14px;
	padding: 25px;
}

article div.section-name-container{
    background: #fff;
    left: -15px;
    margin-bottom: 0;
    padding: 35px 25px 0;
    position: relative;
    width: 100%;
}
article h3.section-name{
    color: rgba(128,128,128,1);
    display: block;
    font-family: Helvetica;
    font-size: 1.5em;
    cursor: pointer;
    display: inline-block;
}
article li.section-member{
    background: #fff;
    left: -25px;
    list-style-type: none;
    padding: 13px 25px 0;
    position: relative;
    width: 100%;
    -webkit-transition: -webkit-transform .3s ease;
    -moz-transition: -moz-transform .3s ease;
    -o-transition: -o-transform .3s ease;
    transition: transform .3s ease;    
    cursor: pointer;
}
article li.section-member a{
    color: rgba(0,136,204,1);
    text-decoration: none;
	font-size: 14px;
}
article li.section-member a.section-member-name::before{
    content: '+ ';
}
article div.height-container {
    /*height: 0;*/
    display:none;
    left: -25px;
    padding: 0 25px;
    position: relative;
    width: 100%;
}
article div.height-container section {
    background: rgba(249,249,249,1);
    border-bottom: 1px solid rgba(233,233,233,1);
    left: -25px;
    margin: 0;
    padding: 13px 25px 13px;
    position: relative;
    width: 100%;
}
article div.pointy-thing-container {
    background: #fff;
    border-bottom: 1px solid rgba(233,233,233,1);
    left: -25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
    position: relative;
    width: 100%;
}
article div.pointy-thing {
    background: rgba(249,249,249,1);
    border-left: 1px solid rgba(233,233,233,1);
    border-top: 1px solid rgba(233,233,233,1);
    height: 12px;
    left: 21px;
    top: -7px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    width: 12px;
}
article div.height-container{
    font-size: 14px;
}
article table{
    border: 2px solid rgba(233,233,233,1);
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: hide;
    margin: 20px 0 36px;
    text-align: left;
    width: 684px;
    overflow:hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
article td {
    border: 1px solid rgba(233,233,233,1);
    padding: 5px 25px 5px 10px;
    margin: 0;
    vertical-align: middle;
    max-width: 260px;
}
article table code{
    white-space: pre-wrap; /* css-3 */ 
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
    white-space: -pre-wrap; /* Opera 4-6 */ 
    white-space: -o-pre-wrap; /* Opera 7 */ 
    word-wrap: break-word; /* Internet Explorer 5.5+ */ 
    white-space : normal ; /* Internet Explorer 5.5+ */ 
}